<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue dans Solombra !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('universe/3d/css/styles.css') }}"></style>
        {% endblock %}
    </head>
    <body>

        <!-- Bouton pour changer la vue -->
        <button id="toggle-view" class="toggle-view">Changer de vue</button>
        
        <script type="module" src="{{ asset('universe/3d/js/app.js') }}"></script>
    </body>
</html>