{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-8">
                <div class="card card-custom" style="color:white">
                    <h4 class="card-title">Conditions Générales d'Utilisation</h4 class="card-title">
                    <p>Dernière mise à jour : {{ 'now'|date('d/m/Y') }}</p>
                    
                    <h5 class="card-title">1. Acceptation des conditions</h5 class="card-title">
                    <p>
                        En accédant et en utilisant le site Free-City.fr, vous convenez d'être lié par
                        ces conditions générales d'utilisation qui régissent la relation entre vous et le service de
                        collection proposé par la Team OnlyMe. Si vous n'acceptez pas ces termes, vous ne devez pas
                        utiliser ce service.
                    </p>

                    <h5 class="card-title">2. Modifications des conditions</h5 class="card-title">
                    <p>
                        La Team OnlyMe se réserve le droit de modifier ou de remplacer les présentes CGU à tout moment.
                        La version la plus récente des conditions sera toujours postée sur notre site. Votre utilisation
                        continue du service après de telles modifications constitue votre acceptation des nouvelles
                        conditions.
                    </p>

                    <h5 class="card-title">3. Inscription et compte utilisateur</h5 class="card-title">
                    <p>
                        Pour accéder à certaines fonctionnalités du service, vous devez créer un compte. Vous vous
                        engagez à fournir des informations exactes et à jour lors de la création de votre compte et à les
                        mettre à jour comme nécessaire. Vous êtes responsable de la sécurité de votre mot de passe et
                        de toute utilisation de votre compte. Votre mot de passe est chiffré de manière robuste pour
                        garantir la protection de vos données.
                    </p>

                    <h5 class="card-title">4. Propriété intellectuelle</h5 class="card-title">
                    <p>
                        Les contenus publiés sur Free-City.fr, incluant les textes, graphiques, logos,
                        images, et collections, sont protégés par les lois sur la propriété intellectuelle et sont la propriété
                        exclusive de La Team OnlyMe ou de ses concédants de licence. Toute reproduction non autorisée
                        est strictement interdite.
                    </p>

                    <h5 class="card-title">5. Utilisation du service</h5 class="card-title">
                    <p>
                        Le service Free-City.fr est destiné à un usage personnel et non commercial.
                        Vous êtes autorisé à utiliser le service uniquement de manière conforme aux CGU et à la loi
                        applicable.
                    </p>

                    <h5 class="card-title">6. Limitation de responsabilité</h5 class="card-title">
                    <p>
                        La Team OnlyMe ne sera pas responsable des dommages résultant de l'utilisation ou de
                        l'impossibilité d'utiliser le service, y compris les pertes de profits, données ou autres pertes
                        immatérielles.
                    </p>

                    <h5 class="card-title">7. Résiliation</h5 class="card-title">
                    <p>
                        La Team OnlyMe peut résilier ou suspendre votre accès au service à tout moment sans préavis en cas de non-respect des présentes CGU, ou pour toute autre raison jugée nécessaire par La Team OnlyMe.
                    </p>

                    <h5 class="card-title">8. Droit applicable et juridiction</h5 class="card-title">
                    <p>
                        Les présentes CGU sont régies par le droit du pays de La Team OnlyMe. En cas de litige, vous acceptez la compétence exclusive des tribunaux du pays de La Team OnlyMe.
                    </p>

                    <h5 class="card-title">9. Contact</h5 class="card-title">
                    <p>
                        Pour toute question concernant ces CGU ou le service Free-City.fr, veuillez contacter La Team OnlyMe via notre formulaire de contact disponible sur notre site.
                    </p>

                    <p class="text-center">
                        Merci de faire partie de la communauté La Team OnlyMe.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}