{% extends 'index.html.twig' %}

{% block title %}Modifier le sujet{% endblock %}

{# Css/Js Loading #}
{% set coreCss = 1 %}
{% set heroCss = 1 %}
{% set bootstrapCss = 1 %}
{% set bootstrapIcons = 1 %}
{% set forumCss = 1 %}

{% block card %}
    <div class="main-panel">
        <h2 class="text-center my-4">Modifier le sujet</h2>
        {{ include('forum/post/_form.html.twig') }}
    </div>
{% endblock %}
